<div class="body">
  <%= render "shared/navbar" %>
  <div class="container mt-4">
    <h2 class="mb-3">Find inspiration for your next trip from one of our users...</h2>
    <div class="mb-3">
      <%= form_with url: trips_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Trip!"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group"></div>
    <div class="d-flex justify-content-center fitler-buttons">
      <input type="Checkbox" class="btn-check" id="btncheck1" autocomplete="off">
      <label  class="button-17" for="btncheck1">Hiking</label>

      <input type="Checkbox" class="btn-check" id="btncheck2" autocomplete="off">
      <label class="button-17" for="btncheck2">Mountains</label>

      <input type="Checkbox" class="btn-check" id="btncheck3" autocomplete="off">
      <label class="button-17" for="btncheck3">City</label>

      <input type="Checkbox" class="btn-check" id="btncheck3" autocomplete="off">
      <label class="button-17" for="btncheck3">Beach</label>

      <input type="Checkbox" class="btn-check" id="btncheck3" autocomplete="off">
      <label id="border-right" class="button-17" for="btncheck3">Jungle</label>
    </div>
  </div>
    <div class="indexcards mt-2">
      <% @trips.each do |trip| %>
        <%= link_to trip_path(trip), style: "text-decoration: none; color: black;" do %>
          <% unless trip.landmarks.empty? %>
            <%= render "shared/card", title: trip.title, duration: trip.duration, photo: trip.landmarks[0].photo.key, tags: trip.tags, likes: trip.likes, userphoto: trip.user.photo.key %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
  <%= render "shared/footer" %>
