<div class="container">
  <%# narbar section %>

  <%# trip picture and details %>
  <div class="trip-cards">
    <h1>Trips!</h1>
    <% @trips.each do |trip|%>
    <ul>
      <li><%= trip.location %></li>
      <li><%= trip.title%></li>
      <li><%= trip.duration %></li>
    </ul>
    <%= link_to 'Details', trip_path(trip), class: "btn btn-primary"%>
    <%# <li><%= trip.photo %><%#/li>
    <%# trip price %>
    <%# trip tags %>
    <% end %>
  </div>
</div>
