<div class="container">

  <%# Trip likes counter and button connected to JS controller likes %>
  <div class="likes" data-controller="likes" data-likes-target="likes">
    <button class="like-button" data-likes-target="like" data-action ="click->likes#update">Like?</button>
    <p class="likes-counter"data-likes-target="counter"><%= @trip.likes %></p>
    <div class="d-none">
      <%= simple_form_for @trip, data: {likes_target: "form"} do |f| %>
        <%= f.input :likes, input_html: {value: @trip.likes + 1}  %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>

  <%# trip title and description %>
  <div class="info">
    <h1><%= @trip.title %></h1>
    <%# <%= @trip.photo %>
    <p><%= @trip.description %></p>
  </div>

    <%# map added and info about it %>

    <%# landmark title and info %>
  <div class="landmarks">
    <h1>Landmarks</h1>
    <% @landmarks.each do |landmark| %>
      <h3><%= landmark.title %></h3>
      <li><%= landmark.location %></li>
      <li><%= landmark.description %></li>
      <%= cl_image_tag landmark.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <%# comment section %>
  <div class="comments">
    <h1>comments</h1>
    <% @comments.each do |comment| %>
      <h3><%= comment.user.first_name %></h3>
      <h3><%= comment.description %></h3>
    <% end %>
  </div>
</div>
