<div class="body">
  <%= render "shared/iconbar" %>

  <%= render "shared/navbar" %>
  <div
    data-controller="map"
    data-map-lmarkers-value="<%= @lmarkers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-rmarkers-value="<%= @rmarkers.to_json %>"
    data-map-rmarkersplane-value="<%= @rmarkersplane.to_json %>"
    data-map-rmarkerscar-value="<%= @rmarkerscar.to_json %>"
    data-map-rmarkersbus-value="<%= @rmarkersbus.to_json %>"
    data-map-rmarkersboat-value="<%= @rmarkersboat.to_json %>"
    data-map-rmarkersbike-value="<%= @rmarkersbike.to_json %>"
    data-map-rmarkersyacht-value="<%= @rmarkersyacht.to_json %>"
    data-map-rmarkersfirst-value="<%= @rmarkersfirst.to_json %>"
    data-map-landmarkarray-value= "<%= @landmarkarr %>"
    data-map-myarray-value= "<%= @arr%>">

    <%# Trip likes counter and button connected to JS controller likes %>
    <div class="likes-section">
      <div class="likes" data-controller="likes" data-likes-target="likes">
        <button class="like-button" data-likes-target="like" data-action ="click->likes#update"><i class="fa-solid fa-heart"></i></button>
        <div class="likes-counter" data-likes-target="counter"><%= @trip.likes %></div>
        <div class="d-none">
          <%= simple_form_for @trip, data: {likes_target: "form"} do |f| %>
            <%= f.input :likes, input_html: {value: @trip.likes += 1}  %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="carouselwidth">
        <div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @landmarks[0].photo.key, height: 550, width: 400, class:"d-block w-100", style:"object-fit: cover" %>
            </div>
            <% @landmarks[1..-1].each do |landmark| %>
              <div class="carousel-item">
                <%= cl_image_tag landmark.photo.key, height: 550, width: 400, class:"d-block w-100", style:"object-fit: cover" %>
              </div>
            <% end %>
              <div class="carouselcaption d-flex align-items-end">
                <h1 class="me-2"><%= @trip.title %></h1>
                <h3><em>by <%= @trip.user.first_name %> <%= @trip.user.last_name %></em></h3>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>

    <div class="container-landmark-outer">
      <div class="infoscon">
        <p><%= @trip.description %></p>
      </div>


      <%# map landmarks %>
      <div class="mapandlandmarks d-flex">
        <div class="maplandmarks">
          <nav>
            <div class="d-flex" id="" role="tablist">
              <button class="mynav-link2 connie" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" data-map-target="btn" data-action="click->map#routes">Routes</button>
              <button class="mynav-link2 connie" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" data-action="click->map#landmarks">Landmarks</button>
              <button class="mynav-link2 connie" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" data-action="click->map#comments">Comments</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div id="divv" data-map-target="place">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <div class="mymap" data-map-target="map"></div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0" >
                <div class="mymap" data-map-target="maplandmarks"></div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0" >
              <div id="mymap">
             <div class="container-comments">
        <div class="header">
          <div>
            <h1>Comments</h1>
              <%= link_to "New comment",
                  new_trip_comment_path(@trip, @comment),
                  class: "btn",
                  data: { turbo_frame: dom_id(Comment.new) } %>
          </div>
            <%= turbo_frame_tag dom_id(@comment) %>
            <%= turbo_frame_tag "comments" do %>
              <%= render @comments, trip: @trip %>
            <% end %>
        </div>
      </div>
              </div>
            </div>
          </div>
        </div>

        <%# landmark title and info %>

        <div class="landmarkwidth">
          <div class="accordion ms-3" id="accordionPanelsStayOpenExample">
            <% i = 0 %>
            <% day = 0 %>
            <div data-map-target="length" style="display:none;">
              <%= (@routes.length) %>
            </div>
            <% while i < (@routes.length - 1) do %>
              <% num = (i + 1).humanize.capitalize %>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-heading<%= num %>">
                  <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= num %>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%= num %>" data-action="click->map#zoom<%= i %>">
                    <% if (@routes[i+1].travel_date - @routes[i].travel_date).to_i == 1  %>
                      <div class=" flex-grow-1">
                        <h3 style="font-size: 20px;">Day <%= day += (@routes[i+1].travel_date - @routes[i].travel_date).to_i %></h3>
                      </div>
                      <h3 class="px-4" style="font-size: 20px;"><%= @routes[i].destination.split(",").first %></h3>
                    <% elsif (i + 1) < @routes.length %>
                      <div class=" flex-grow-1">
                        <h3 style="font-size: 20px;">Day <%= day + 1 %>-<%= day += (@routes[i+1].travel_date - @routes[i].travel_date).to_i%></h3>
                      </div>
                      <h3 class="px-4" style="font-size: 20px;"><%= @routes[i].destination.split(",").first %></h3>
                    <% end %>
                  </button>
                </h2>
                <div >
                <% @routes[i].landmarks.each do |landmark| %>
                  <div id="panelsStayOpen-collapse<%= num %>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%= num %>">
                    <div class="accordion-body p-0">
                      <div class="container-landmark">

                          <% location = landmark.location.split(",").first %>
                          <%= render "shared/card_landmark", name: landmark.title, description: landmark.description, photo: landmark.photo.key, location: location, id: landmark.id %>


                      </div>
                    </div>
                  </div>
                <% end %>
                <% i += 1 %>
              </div>
            <% end %>

            <div class="accordion-item">
              <% num = (i + 1).humanize.capitalize %>
              <h2 class="accordion-header" id="panelsStayOpen-heading<%= num %>">
                <button class="accordion-button collapsed d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= num %>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%= num %>" data-action="click->map#zoom<%= i %>">
                  <% if (@trip.duration - day) == 1  %>
                    <div class=" flex-grow-1">
                      <h3 style="font-size: 20px;">Day <%= @trip.duration %></h3>
                    </div>
                    <h3 class="px-4" style="font-size: 20px"><%= @routes[i].destination.split(",").first %></h3>
                  <% else%>
                    <div class=" flex-grow-1">
                      <h3 style="font-size: 20px;">Day <%= day + 1 %>-<%= @trip.duration %></h3>
                    </div>
                    <h3 class="px-4" style="font-size: 20px"><%= @routes[-1].destination.split(",").first %></h3>
                  <% end %>
                </button>
              </h2>
              <div id="panelsStayOpen-collapse<%= num %>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%= num %>">
                <div class="accordion-body p-0">
                    <% @routes[-1].landmarks.each do |landmark| %>
                      <% location = landmark.location.split(",").first %>
                      <%= render "shared/card_landmark", name: landmark.title, description: landmark.description, photo: landmark.photo.key, location: location, id: landmark.id %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# comment section %>
    </div>
  </div>
</div>
</div>
</div>
<%= render "shared/footer" %>
