<div class="container mt-4">
    <h1>Edit your profile</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

    <div class="container">
      <div class="card p-3 mb-3">
        <div class="form-inputs">
          <h2>Update Email</h2>
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
        </div>
      </div>

      <div class="card p-3 mb-3">
          <h2>Update Name</h2>
          <%= f.input :first_name, required: false, autofocus: true %>
          <%= f.input :last_name, required: false, autofocus: true %>
          <%= f.input :bio, required: false, autofocus: true %>
          <%= f.input :photo, required: false, as: :file, input_html: { multiple: false } %>
          <%= f.input :coverphoto, required: false, as: :file, input_html: { multiple: false } %>
      </div>

      <div class="card p-3 mb-3">
          <h2>Update Password</h2>
            <p>Input new password</p>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="card p-3 mb-3">
        <div class="form-actions">
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
            <a><%= f.button :submit, "Update", class: "btn btn-flat mb-2" %></a>
          <% end %>
        </div>
      </div>

      <div class="card p-3 mb-3">
      <h3>Cancel my account</h3>
      <p>Unhappy? </p>
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-flat2 mb-2" %>
       <a><%= link_to "Back", :back, class: "btn btn-flat2 mb-2"%></a>
      </div>
</div>
