<div id="container-flex" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
  <div class="container-width" id="bg-blue" data-controller="add-method" >
    <%= link_to  new_trip_route_path(@trip) do %>
      <div style="color:black;" class="fa-solid fa-delete-left"> </div>
    <% end %>
      <h1>Step Three</h1>
      <% if @trip.routes.count == 1 %>
        <h5>Please add at least one landmark or highlight from your time in:</h5>
        <%# The route card for a single route %>
        <div class="create-route">
          <div class="create-icon">
            <img src="<%= @route_icons[@route.method.to_sym.downcase] %>">
          </div>
          <p><strong> <%= @route.destination.truncate(30) %></strong></p>
        </div>
        <%# The routes landmark cards  %>
        <% @route.landmarks.each do |landmark| %>
          <div class="route-landmark">
            <%=cl_image_tag landmark.photo.key, class: "route-landmark-img"  %>
            <div class="route-landmark-info">
              <h5><strong><%= landmark.title.truncate(14) %></strong></h5>
            </div>
          </div>
        <% end %>
        <div class="add-travel" data-add-method-target="button">
          <h2>Add landmark</h2>
          <i class="fa-solid fa-circle-plus" data-action="click->add-method#displayForm click->address-autocomplete#revealMap"></i>
        </div>
        <div class="d-none" data-add-method-target="form" >
          <%= simple_form_for([@trip, @route, @landmark]) do |f| %>
          <%= f.input :title, label: "Name"%>
          <%= f.input :description, label: "Description"%>
          <%# f.input :location, label: "Landmark address"%>

          <%=f.input :location,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"}%>
          <div data-address-autocomplete-target="search"></div>

          <%= f.input :photo, label: "Photo", as: :file%>
          <%= f.submit 'Add Landmark', class: "btn btn-flat mb-4"%>
          <% end %>
        </div>
        <% if @route.landmarks.count > 0 %>
          <a><%= link_to "Create trip!", trip_path(@trip), class: "btn btn-light mb-4" %></a>
        <% end %>
      <% else %>
        <h5>Please add at least one landmark or highlight from your time in:</h5>

        <div class="create-route">
          <div class="create-icon">
            <img src="<%= @route_icons[@route.method.to_sym.downcase] %>">
          </div>
          <p><strong> <%= @route.destination.truncate(30) %></strong></p>
        </div>

        <% @route.landmarks.each do |landmark| %>
          <div class="route-landmark">
            <%=cl_image_tag landmark.photo.key, class: "route-landmark-img"  %>
            <div class="route-landmark-info">
              <h5><strong><%= landmark.title.truncate(14) %></strong></h5>
            </div>
          </div>
        <% end %>
        <div class="add-travel" data-add-method-target="button">
          <h2>Add landmark</h2>
          <i class="fa-solid fa-circle-plus" data-action="click->add-method#displayForm click->address-autocomplete#revealMap"></i>
        </div>
        <div class="d-none" data-add-method-target="form">
          <%= simple_form_for([@trip, @route, @landmark]) do |f| %>
          <%= f.input :title, label: "Name"%>
          <%= f.input :description, label: "Description"%>
          <%# f.input :location, label: "Landmark address"%>

          <%=f.input :location,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"}%>
          <div data-address-autocomplete-target="search"></div>

          <%= f.input :photo, label: "Photo", as: :file%>
          <%= f.submit 'Add Landmark', class: "btn btn-flat mb-4"%>
          <% end %>
        </div>
          <% if @route.landmarks.count > 0 && @trip.routes.select { |route| route.landmarks.empty? }.empty? != true %>
            <p>Or, if you dont want to add any more landmarks</p>
            <% @route = @trip.routes.select { |route| route.landmarks.empty? }.first %>
            <a><%= link_to "Complete leg", new_trip_route_landmark_path(@trip, @route), class: "btn btn-flat mb-4" %></a>
          <% end %>
          <% if @trip.routes.select { |route| route.landmarks.empty? }.empty?%>
            <a><%= link_to "Create trip!", trip_path(@trip), class: "btn btn-flat mb-4" %></a>
          <% end %>

      <% end %>
  </div>
  <div class="container-width" id="bg-light-blue">
    <h1>Add your landmarks!</h1>
    <h2>Create some landmarks for each destination of your trip.</h2>
    <div class="create-flex">
      <i class="fa-solid fa-circle"></i>
      <i class="fa-solid fa-circle"></i>
      <i class="fa-solid fa-circle" id="grey-icon"></i>
    </div>
    <%=image_tag("landmarks")%>
  </div>
</div>
