<%= render "shared/navbar" %>
  <div class="body">
    <% if @user.coverphoto.key.present? %>
      <div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @user.coverphoto.key%>');">
        <% else %>
        <div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('logo.png');">
        <% end %>
          <div class="container d-flex">
            <div class="profile-info">
              <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, class: "avatar-profile" %>
              <% else %>
              <%= image_tag "defav1" %>
                <% end %>
            </div>
            <div class="profile-1">
              <h2> <%= @user.first_name %> <%= @user.last_name %></h2>
              <h4><%= @user.bio %></h4>
            </div>
          </div>
        </div>
      <div class="profile-outer">
      <div class="headers-profile">
          <h1>My trips</h1>
          <h1>My bookmarks</h1>
      </div>
       <div class="container-bookmark">
            <div class="container-mytrips">
                <% @trips.each do |trip| %>
              <%= link_to trip_path(trip), style: "text-decoration: none; color: black;" do %>
                <% unless trip.landmarks.empty? %>
               <%= render "shared/card_mytrips", trip: trip %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="container-mybookmarks">
           <% if @bookmarks.empty? %>
           <div class="empty-bookmarks">
                <h5 style="margin: 20 auto;width:-moz-fit-content;width:fit-content;">You haven't bookmarked a trip yet</h5>
                   <a style="height: 100px"><%= link_to "More inspiration...", trips_path, class: "btn btn-flat" %></a>
                    </div>
                    <% end %>
              <% @bookmarks.each do |book| %>
                <% if book.present? %>
              <%= link_to trip_path(book.trip), style: "text-decoration: none; color: black;" do %>
                <%= render "shared/card", trip: book.trip %>

                  <% end %>
                <% end %>
              <% end %>
          </div>
        </div>
    </div>
   </div>
<%= render "shared/footer" %>
  </div>
