<%= render "shared/navbar" %>
  <div class="body">
    <% if @user.coverphoto.key.present? %>
      <div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @user.coverphoto.key%>');">
        <% else %>
        <div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('logo.png');">
        <% end %>
          <div class="container d-flex">
            <div class="profile-info">
              <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, class: "avatar-profile" %>
              <% else %>
              <%= image_tag "defav1" %>
                <% end %>
            </div>
            <div class="profile-1">
              <h2> <%= @user.first_name %> <%= @user.last_name %></h2>
              <h4><%= @user.bio %></h4>
            </div>
          </div>
        </div>
      <div class="container">
         <h1>My trips</h1>
        <div class="container-square">
          <% @trips.each do |trip| %>
            <%= link_to trip_path(trip), style: "text-decoration: none; color: black;" do %>
              <% unless trip.landmarks.empty? %>
               <%= render "shared/card", trip: trip %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <h1 class="mt-5">My favorites</h1>
        <div class="container-square">
          <% @bookmarks.each do |book| %>
            <% if book.present? %>
              <%= render "shared/card", trip: book.trip %>
            <% end %>
          <% end %>
        </div>

    </div>
  </div>
<%= render "shared/footer" %>
  </div>
