<div class="card-square">
    <div class="square-1">
      <div class="card-square-img">
      <%= cl_image_tag photo, height: 300, width: 300, class:"d-block w-100", style:"object-fit: cover" %>
      </div>
      <div class="avatar-end">
          <% if userphoto.present? %>
            <%= cl_image_tag userphoto, class: "avatar-card"%>
          <% end %>
          <%# <%= image_tag userphoto, class: "avatar-card"%>
      </div>
    </div>
  <div class="card-square-infos">
    <div class="square-2">
      <h5><%= title %></h5>
      <ul>
        <% tags.each do |tag| %>
          <li class="tag">
            <% case tag.title %>
            <% when "Hiking" %>
              <i class="fa-solid fa-person-hiking"></i>
            <% when "Mountains" %>
              <i class="fa-solid fa-mountain"></i>
            <% when "City" %>
              <i class="fa-solid fa-city"></i>
            <% when "Jungle" %>
              <i class="fa-solid fa-leaf"></i>
            <% when "Beach" %>
              <i class="fa-solid fa-umbrella-beach"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="square-3 d-flex justify-content-between align-items-center" >
      <p id="duration"> <%= duration %> days </p>
       <div class="likes d-flex align-items-end" data-controller="likes" data-likes-target="likes">
        <div class="likes-counter" data-likes-target="counter"><%= likes %></div>
          <button class="like-button" data-likes-target="like" data-action ="click->likes#update"><i class="fa-solid fa-heart"></i></button>
          <div class="d-none">
            <%= simple_form_for :likes, data: {likes_target: "form"} do |f| %>
              <%= f.input :likes, input_html: {value: likes += 1}  %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
