<div class="card-square">
    <%= link_to trips_path, style: "text-decoration: none; color: black;" do %>
    <div class="square-1">

    <%= photo %>
      <div class="avatar-end">
        <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-card"%>
        <% end %>
       <% end %>
    </div>
</div>
    <div class="card-square-infos">
      <div class="square-2">
      <h5><%= title %></h5>
      <p> Tags </p>
      </div>
    </div>
    <div class="square-3">
      <p> <%= duration %> days </p>
      <p>246 <i class="fa-solid fa-heart"></i></p>

    </div>
</div>
