<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/porto-timoni-beach-corfu-greece-royalty-free-image-1650564691.jpg);">
      <%= link_to root_path, style: "text-decoration: none;" do %>
        <h1>Travel Plan</h1>
      <% end %>
      <p>Make your dreams come true. Find inspiration for your dream trip. </p>
      <%= simple_form_for :search, url: root_path, method: :get,  html: { class: 'form-inline' } do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
      <% end %>
        </div>
</div>
 <div class="container">
  <h1>Some ideas to get you started</h1>
   <div class="container-inner">
  <div class="container-square">
      <div class="card-square">
          <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
          <div class="square-1">
            <img class="card-square-img" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hiking-quotes-1586278882.jpg?crop=0.668xw:1.00xh;0.167xw,0&resize=640:*"/>
              <div class="avatar-end">
              <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
              <% end %>
          <% end %>
            </div>
          </div>
            <div class="card-square-infos">
              <div class="square-2">
              <h3>Title</h3>
              <p>Duration</p>
                </div>
                </div>
              <div class="square-3">
                <h5>Tags</h5>
                  <p><strong>Likes</strong></p>
              </div>
            </div>

      <div class="card-square">
          <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
          <div class="square-1">
            <img class="card-square-img" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hiking-quotes-1586278882.jpg?crop=0.668xw:1.00xh;0.167xw,0&resize=640:*"/>
              <div class="avatar-end">
              <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
              <% end %>
          <% end %>
            </div>
          </div>
            <div class="card-square-infos">
              <div class="square-2">
              <h3>Title</h3>
              <p>Duration</p>
                </div>
                </div>
              <div class="square-3">
                <h5>Tags</h5>
                  <p><strong>Likes</strong></p>
              </div>
            </div>

      <div class="card-square">
          <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
          <div class="square-1">
            <img class="card-square-img" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hiking-quotes-1586278882.jpg?crop=0.668xw:1.00xh;0.167xw,0&resize=640:*"/>
              <div class="avatar-end">
              <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
              <% end %>
          <% end %>
            </div>
          </div>
            <div class="card-square-infos">
              <div class="square-2">
              <h3>Title</h3>
              <p>Duration</p>
                </div>
                </div>
              <div class="square-3">
                <h5>Tags</h5>
                  <p><strong>Likes</strong></p>
              </div>
            </div>

        <div class="card-square">
          <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
          <div class="square-1">
            <img class="card-square-img" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hiking-quotes-1586278882.jpg?crop=0.668xw:1.00xh;0.167xw,0&resize=640:*"/>
              <div class="avatar-end">
              <%= link_to root_path, style: "text-decoration: none; color: black;" do %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar"%>
              <% end %>
          <% end %>
            </div>
          </div>
            <div class="card-square-infos">
              <div class="square-2">
              <h3>Title</h3>
              <p>Duration</p>
                </div>
                </div>
              <div class="square-3">
                <h5>Tags</h5>
                  <p><strong>Likes</strong></p>
              </div>
            </div>
        </div>
            <div class="home-links">
            <a><%= link_to "More inspiration...", root_path, class: "btn btn-flat" %></a>
           </div>
</div>
