<div id="container-flex">
  <div class="container-width" id="bg-blue" data-controller="add-method">
    <h1>Step two</h1>
    <% if current_user.trips.last.routes.empty? %>
      <p>Please add where you first arrive!</p>
    <div class="add-travel" data-add-method-target="button">
      <h2>Add travel method</h2>
      <i class="fa-solid fa-circle-plus" data-action="click->add-method#displayForm"></i>
    </div>
    <div class="d-none" data-add-method-target="form">
        <%= simple_form_for([@trip, @route]) do |f| %>
          <%= f.input :travel_date, as: :date, html5: true, label: "Date of arrival"%>
          <%= f.input :destination, label: "First destination", hint: "Where did you arrive?"%>
          <%= f.submit 'Add route', class: "btn btn-flat mb-4"%>
        <% end %>
        <% if current_user.trips.last.routes.count > 1 %>
          <a><%= link_to "skip ", new_trip_route_path(@trip), class: "btn btn-flat" %></a>
        <% end %>
    </div>
      <% else %>
        <h5>If you traveled during you trip please add a travel method</h5>
      <% @routes.each do |route|  %>
        <p><strong><%= route.method%> <%= route.destination %></strong></p>
      <% end %>
      <div class="add-travel" data-add-method-target="button2">
        <h2>Add travel method</h2>
        <i class="fa-solid fa-circle-plus" data-action="click->add-method#displayForm2"></i>
      </div>
      <div class="d-none" data-add-method-target="form2">
        <%= simple_form_for([@trip, @route]) do |f| %>
          <%= f.input :travel_date, as: :date, html5: true, label: "Date of arrival"%>
          <%= f.input :destination, label: "Travel destination", hint: "Where did you travel to?"%>
          <%= f.input :method, label: "travel method", collection: [ "Plane", "Train", "Boat", "Car"]%>
          <%= f.input :duration, label: "How long did your trip take", collection: 18..60%>
          <%= f.submit 'Add route', class: "btn btn-flat mb-4"%>
        <% end %>
      </div>
      <% unless @trip.routes.empty? %>
      <p>Or, if you've finished adding travel routes:</p>
      <%= link_to "Continue", new_trip_route_landmark_path(@trip, @trip.routes.first), class: "btn btn-light " %>
      <% end %>
      <% end %>
  </div>
  <div class="container-width" id="bg-light-blue">
    <h1>Add your travel methods</h1>
    <h2>Tell us where you went within <%="#{current_user.trips.last.location}"%></h2>
    <div class="create-flex">
      <i class="fa-solid fa-circle"></i>
      <i class="fa-solid fa-circle" id="grey-icon"></i>
      <i class="fa-solid fa-circle"></i>
    </div>
      <img src="https://res.cloudinary.com/dblvfwtds/image/upload/v1669814162/image_3_cfsxtc.png">
  </div>
</div>
