<div id="container-flex" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
  <div class="container-width" id="bg-blue" data-controller="add-method">
   <%= link_to  new_trip_path(@trip) do %>
      <div style="color:black;" class="fa-solid fa-delete-left"> </div>
    <% end %>
    <h1>Step two</h1>
    <% if current_user.trips.last.routes.empty? %>
      <h5>Where did you first arrive on your trip?</h5>
        <div class="add-travel" data-add-method-target="button">
          <h2>Add Travel Method</h2>
          <i class="fa-solid fa-circle-plus" data-action="click->add-method#displayForm click->address-autocomplete#revealMap"></i>
        </div>
    <div class="d-none" data-add-method-target="form">
        <%= simple_form_for([@trip, @route]) do |f| %>
          <%= f.input :travel_date, as: :date, html5: true, label: "Date of arrival"%>
          <%# f.input :destination, label: "First destination", hint: "Where did you arrive?"%>
          <%=f.input :destination,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"}%>
          <div data-address-autocomplete-target="search"></div>
          <%= f.submit 'Add route', class: "btn btn-flat mb-4"%>
        <% end %>
        <% if current_user.trips.last.routes.count > 1 %>
          <a><%= link_to "skip ", new_trip_route_path(@trip), class: "btn btn-flat" %></a>
        <% end %>
    </div>
    <% else %>
    <h5 data-add-method-target="title">Did you travel anywhere from <strong><%=@trip.routes.last.destination%>?</strong></h5>
    <div data-add-method-target="routes">
      <% @routes.each do |route|  %>
        <% if route.method != "first_location" %>
          <img id="route-icon" src="https://res.cloudinary.com/dblvfwtds/image/upload/v1670107398/route-solid_mztkqa.svg">
        <% end %>
        <div class="create-route">
          <div class="create-icon">
            <img src="<%= @route_icons[route.method.to_sym.downcase] %>">
          </div>
          <p><strong> <%= route.destination.truncate(30) %></strong></p>
        </div>
      <% end %>
    </div>
        <div class="add-travel" data-add-method-target="button2">
          <h2>Add Travel Method</h2>
          <i class="fa-solid fa-circle-plus" data-action="click->add-method#displayForm2 click->address-autocomplete#revealMap"></i>
        </div>
      <div class="d-none" data-add-method-target="form2">
        <%= simple_form_for([@trip, @route]) do |f| %>
          <%= f.input :travel_date, as: :date, html5: true, label: "Date of arrival"%>
          <%# f.input :destination, label: "Travel destination", hint: "Where did you travel to?"%>
          <%=f.input :destination,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"}%>
          <div data-address-autocomplete-target="search"></div>

          <%= f.input :method, label: "travel method", collection: [ "Plane", "Train", "Ferry", "yacht", "Motorcycle", "Car", "Bus", ]%>
          <%= f.input :duration, label: "How long did your trip take", collection: 1..24%>
          <%= f.submit 'Add route', class: "btn btn-flat mb-4"%>
        <% end %>
      </div>
      <% unless @trip.routes.empty? %>
      <h5><strong>Or</strong>, if you're finished continue to the next step:</h5>
      <%= link_to "Continue", new_trip_route_landmark_path(@trip, @trip.routes.first), class: "btn btn-light " %>
      <% end %>
      <% end %>
  </div>
  <div class="container-width" id="bg-light-blue">
    <h1>Add your travel methods</h1>
    <h2>Tell us where you went within <%="#{current_user.trips.last.location}"%></h2>
    <div class="create-flex">
      <i class="fa-solid fa-circle"></i>
      <i class="fa-solid fa-circle" id="grey-icon"></i>
      <i class="fa-solid fa-circle"></i>
    </div>
      <%=image_tag("travel_methods")%>
  </div>
</div>
