<div id="container-flex">
  <div class="container-width" id="bg-blue" data-controller="add-method">
    <i class="fa-solid fa-delete-left"></i>
    <h1>Step two</h1>
    <% unless current_user.trips.last.routes %>
      <p>Please add where you first arrive!</p>
    <div class="add-travel" data-add-method-target="button">
      <h2>Add travel method</h2>
      <i class="fa-solid fa-circle-plus" data-action="click->add-method#displayForm"></i>
    </div>
    <div class="d-none" data-add-method-target="form">
        <%= simple_form_for([@trip, @route]) do |f| %>
        <%= f.input :travel_date, as: :date, html5: true, label: "Date of arrival"%>
        <%= f.input :destination, label: "First locatoin"%>
        <%= f.submit 'Next step', class: "btn btn-flat mb-4"%>
        <% end %>
        <% if current_user.trips.last.routes.count > 1 %>
          <a><%= link_to "skip ", new_trip_route_path(@trip), class: "btn btn-flat" %></a>
        <% end %>
    </div>
      <% else %>
        <p>If you traveled during you trip please add a travel method</p>
      <% @routes.each do |route|  %>
      <%= route.method %>
      <%= route.destination %>
      <% end %>
      <div class="add-travel" data-add-method-target="button2">
        <h2>Add travel method</h2>
        <i class="fa-solid fa-circle-plus" data-action="click->add-method#displayForm2"></i>
      </div>
      <div class="d-none" data-add-method-target="form2">
        <%= simple_form_for([@trip, @route]) do |f| %>
        <%= f.input :travel_date, as: :date, html5: true%>
        <%= f.input :destination, label: "Where was the destination?"%>
        <%= f.input :method, label: "Which method did you use to travel?", collection: [ "Car", "Plane", "Train", "Ferry"]%>
        <%= f.input :duration, label: "How many hour was your trip?", as: :integer, collection: 1..24 %>
        <%= f.submit 'Add another', class: "btn btn-flat mb-4"%>
        <% end %>
      </div>
      <% unless @trip.routes.empty? %>
      <a><%= link_to "skip ", new_trip_route_landmark_path(@trip, @trip.routes.first), class: "btn btn-flat" %></a>
      <% end %>
      <% end %>
  </div>
  <div class="container-width" id="bg-light-blue">
    <h1>Add your travel methods</h1>
    <h2>Tell us where you went within <%="#{current_user.trips.last.location}"%></h2>
    <div class="create-flex">
      <i class="fa-solid fa-circle"></i>
      <i class="fa-solid fa-circle" id="grey-icon"></i>
      <i class="fa-solid fa-circle"></i>
      <i class="fa-solid fa-circle"></i>
    </div>
    <%= cl_image_tag "https://res.cloudinary.com/dblvfwtds/image/upload/v1669814162/image_3_cfsxtc.png" %>
  </div>
</div>
